<!doctype html>
<html ng-app="ColorApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HomeCtrl Dashboard</title>

    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">

    <script src="//code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

    <script src="/static/js/app.js"></script>
  </head>

  <body ng-controller="MainCtrl">
    <div class="dashboard">
      <header class="dashboard-header">
        <h1>HomeCtrl Dashboard</h1>
      </header>

      <section class="card fan-controls" ng-controller="FanCtrl">
        <h2>Fan Controls</h2>
        <div class="button-group">
          <button class="btn btn-accent" ng-click="press('b')">Light</button>
          <button class="btn btn-primary" ng-click="press('a')">Fan On</button>
          <button class="btn btn-secondary" ng-click="press('c')">Fan Off</button>
        </div>
      </section>

      <section class="card global-controls" ng-controller="GlobalCtrl">
        <h2>Global Controls (All Strips)</h2>
        <div class="control-row">
          <div class="control-group">
            <label>Mode</label>
            <select class="form-control" ng-model="mode" ng-options="m for m in modes" ng-change="setMode()"></select>
          </div>
          <div class="control-group slider-group">
            <label>Brightness: {{brightness}}</label>
            <input type="range" min="0" max="255" ng-model="brightness" ng-change="setBrightness()">
          </div>
          <div class="control-group slider-group">
            <label>Delay: {{delay}}ms</label>
            <input type="range" min="8" max="200" ng-model="delay" ng-change="setDelay()">
          </div>
        </div>
        <div class="options-section" ng-if="hasOpts()">
          <h3>Options</h3>
          <div class="options-grid">
            <div ng-repeat="(k, v) in opts" class="option-item">
              <label>{{k}}</label>
              <input ng-if="v.type === 'color'" type="color" ng-model="opts[k].val" ng-change="changeOpt(k)">
              <input ng-if="v.type === 'bool'" type="checkbox" ng-model="opts[k].val" ng-true-value="'true'" ng-false-value="'false'" ng-change="changeOpt(k)">
              <input ng-if="v.type !== 'color' && v.type !== 'bool'" type="text" ng-model="opts[k].val" ng-change="changeOpt(k)">
            </div>
          </div>
        </div>
      </section>

      <section class="strips-container">
        <div class="card strip-card" ng-repeat="strip in strips" ng-controller="StripCtrl">
          <div class="strip-header" ng-click="toggleCollapse()">
            <h2>
              <span class="strip-indicator"></span>
              Strip {{strip.id}}: {{strip.hostname}}
              <span class="led-count">({{strip.num_leds}} LEDs)</span>
            </h2>
            <span class="collapse-icon" ng-class="{'collapsed': isCollapsed}">&#9660;</span>
          </div>

          <div class="strip-body" ng-hide="isCollapsed">
            <div class="control-row">
              <div class="control-group">
                <label>Mode</label>
                <select class="form-control" ng-model="stripMode" ng-options="m for m in modes" ng-change="setMode()"></select>
              </div>
            </div>

            <div class="control-row">
              <div class="control-group slider-group">
                <label>Brightness: {{stripBrightness}}</label>
                <input type="range" min="0" max="255" ng-model="stripBrightness" ng-change="setBrightness()">
              </div>
              <div class="control-group slider-group">
                <label>Delay: {{stripDelay}}ms</label>
                <input type="range" min="8" max="200" ng-model="stripDelay" ng-change="setDelay()">
              </div>
            </div>

            <div class="options-section" ng-if="hasOpts()">
              <h3>Options</h3>
              <div class="options-grid">
                <div ng-repeat="(k, v) in stripOpts" class="option-item">
                  <label>{{k}}</label>
                  <input ng-if="v.type === 'color'" type="color" ng-model="stripOpts[k].val" ng-change="changeOpt(k)">
                  <input ng-if="v.type === 'bool'" type="checkbox" ng-model="stripOpts[k].val" ng-true-value="'true'" ng-false-value="'false'" ng-change="changeOpt(k)">
                  <input ng-if="v.type !== 'color' && v.type !== 'bool'" type="text" ng-model="stripOpts[k].val" ng-change="changeOpt(k)">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
